In [1]:
import pandapower as pp
import pandas as pd
import copy

In [2]:
net = pp.from_pickle('model.p')
net

This pandapower network includes the following parameter tables:
   - bus (33 elements)
   - load (32 elements)
   - sgen (6 elements)
   - ext_grid (1 element)
   - line (32 elements)
   - poly_cost (1 element)
   - bus_geodata (33 elements)

## ext_grid:capicityX10

In [ ]:
# net.ext_grid.iloc[:,5:] = net.ext_grid.iloc[:, 5:]*10
# net.ext_grid

## loadX200

In [3]:
net.load = pd.concat([net.load for _ in range(200)], axis=0, ignore_index=True)
net.load['scaling'] = 1/200
net.load

,bus,const_i_percent,const_z_percent,controllable,in_service,name,p_mw,q_mvar,scaling,sn_mva,type
0,1,0.0,0.0,False,True,None,0.10,0.06,0.005,NaN,None
1,2,0.0,0.0,False,True,None,0.09,0.04,0.005,NaN,None
2,3,0.0,0.0,False,True,None,0.12,0.08,0.005,NaN,None
3,4,0.0,0.0,False,True,None,0.06,0.03,0.005,NaN,None
4,5,0.0,0.0,False,True,None,0.06,0.02,0.005,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...
6395,28,0.0,0.0,False,True,None,0.12,0.07,0.005,NaN,None
6396,29,0.0,0.0,False,True,None,0.20,0.60,0.005,NaN,None
6397,30,0.0,0.0,False,True,None,0.15,0.07,0.005,NaN,None
6398,31,0.0,0.0,False,True,None,0.21,0.10,0.005,NaN,None
6399,32,0.0,0.0,False,True,None,0.06,0.04,0.005,NaN,None

## sgenX200

In [4]:
net.sgen = pd.concat([net.sgen for _ in range(200)], axis=0, ignore_index=True)
net.sgen['scaling'] = 1/200
net.sgen

,name,bus,p_mw,q_mvar,sn_mva,scaling,in_service,type,current_source,controllable
0,zone1,12,0.5,0.05,NaN,0.005,True,PV,True,False
1,zone1,17,0.5,0.05,NaN,0.005,True,PV,True,False
2,zone2,21,0.5,0.05,NaN,0.005,True,PV,True,False
3,zone3,24,0.5,0.05,NaN,0.005,True,PV,True,False
4,zone4,28,0.5,0.05,NaN,0.005,True,PV,True,False
...,...,...,...,...,...,...,...,...,...,...
1195,zone1,17,0.5,0.05,NaN,0.005,True,PV,True,False
1196,zone2,21,0.5,0.05,NaN,0.005,True,PV,True,False
1197,zone3,24,0.5,0.05,NaN,0.005,True,PV,True,False
1198,zone4,28,0.5,0.05,NaN,0.005,True,PV,True,False
1199,zone4,32,0.5,0.05,NaN,0.005,True,PV,True,False

## pp.diagnostic

In [5]:
net_test = copy.deepcopy(net)
pp.diagnostic(net_test)

_____________ PANDAPOWER DIAGNOSTIC TOOL _____________


 --------


 --------


 --------


 --------


 --------


 --------


 --------


 --------


 --------


 --------


 --------


 --------


 --------


 --------

_____________ END OF PANDAPOWER DIAGNOSTIC _____________

{}

## export model.p

In [6]:
pp.to_pickle(net,'model.p')
net

This pandapower network includes the following parameter tables:
   - bus (33 elements)
   - load (6400 elements)
   - sgen (1200 elements)
   - ext_grid (1 element)
   - line (32 elements)
   - poly_cost (1 element)
   - bus_geodata (33 elements)

## pv_activeX200

In [7]:
pv_active = pd.read_csv('pv_active.csv', index_col=None)
pv_append = pv_active.iloc[:, 1:]
pv_append = pd.concat([pv_append.rename(columns=lambda x:str(int(x)+(i+1)*len(pv_append.columns))) for i in range(199)], axis=1)
pv_active = pd.concat([pv_active, pv_append], axis=1)
pv_active.to_csv('pv_active.csv',index=False)
pv_active

,DateTime,0,1,2,3,4,5,6,7,8,...,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199
0,2012-01-01 00:03:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2012-01-01 00:06:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2012-01-01 00:09:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2012-01-01 00:12:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2012-01-01 00:15:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
526075,2014-12-31 23:48:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
526076,2014-12-31 23:51:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
526077,2014-12-31 23:54:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
526078,2014-12-31 23:57:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
526079,2015-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## loadX200

In [9]:
load_active = pd.read_csv('load_active.csv', index_col=None)
load_active_append = load_active.iloc[:, 1:]
concat_list = \
[load_active_append.rename(columns=lambda x:str(int(x)+(i+1)*len(load_active_append.columns))) for i in range(199)]
load_active_append = pd.concat(concat_list, axis=1)
load_active = pd.concat([load_active, load_active_append], axis=1)
load_active.to_csv('load_active.csv',index=False)
load_active

OSError: [Errno 28] No space left on device

In [ ]:
load_reactive = pd.read_csv('load_reactive.csv', index_col=None)
load_reactive_append = load_reactive.iloc[:, 1:]
concat_listre = \
[load_reactive_append.rename(columns=lambda x:str(int(x)+(i+1)*len(load_reactive_append.columns))) for i in range(199)]
load_reactive_append = pd.concat(concat_listre, axis=1)
load_reactive = pd.concat([load_reactive, load_reactive_append], axis=1)
load_reactive.to_csv('load_reactive.csv',index=False)
load_reactive